.moviescards {
  display: flex;
  max-width: 1280px;
  padding: 70px 0 80px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.moviescards__error-message {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

@media (max-width: 320px) {
  .moviescards {
    padding-top: 40px;
  }

  .moviescards__error-message {
    font-size: 13px;
  }
}