.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 40px 0;
}

.form__submit-register {
  margin-top: 151px;
  border: none;
  padding: 0;
}

.form__submit-login {
  margin-top: 196px;
  border: none;
  padding: 0;
}

.form__submit-btn {
  width: 100%;
  border: none;
  background-color: #2be080;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  min-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
}

.form__submit-btn:hover {
  opacity: 0.5;
}

.form__links-text {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 6px;
}

.form__links-span {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.form__link-text {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2be080;
  cursor: pointer;
  opacity: 1;
}

.form__link-text:hover {
  opacity: 0.5;
}

@media (max-width: 450px) {
  .form {
    min-width: 260px;
  }

  .form__title {
    text-align: center;
    margin-bottom: 80px;
  }

  .form__submit-register {
    margin-top: 240px;
  }

  .form__submit-login {
    margin-top: 285px;
  }

  .form__submit-btn {
    font-size: 12px;
    line-height: 15px;
  }

  .form__links-text {
    margin-top: 14px;
  }

  .form__links-span {
    font-size: 12px;
    line-height: 15px;
  }

  .form__link-text {
    font-size: 12px;
    line-height: 15px;
  }
}