.moviescard-list {
  display: grid;
  margin: 0 auto;
  column-gap: 24px;
  row-gap: 37px;
  grid-template-columns: 1fr 1fr 1fr;
}

.moviebtnshow {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #f9f9f9;
  border-radius: 6px;
  width: 89%;
  min-height: 36px;
  margin-top: 61px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}

.moviebtnshow:hover {
  opacity: 0.5;
}

@media (max-width: 1279px) {
  .moviescard-list {
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .moviebtnshow {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .moviescard-list {
    row-gap: 14px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .moviebtnshow {
    margin-top: 76px;
  }
}