.navtab {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.navtab__links {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.navtab__link-container {
  display: flex;
  background: #e8e8e8;
  border-radius: 10px;
  width: 96px;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.navtab__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 399px) {
  .navtab {
    margin-bottom: 17px;
  }

  .navtab__links {
    gap: 6px;
  }

  .navtab__link-container {
    width: 82px;
    height: 26px;
  }

  .navtab__link {
    font-size: 10px;
  }
}
