.header {
  max-width: 1140px;
  max-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.header__links {
  display: flex;
}

.header__logo {
  margin-left: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.header__profile {
  display: flex;
  margin-right: 0;
}

.header__profile-link {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 30px;
  color: #000;
  opacity: 1;
}

.header__profile-link:hover{
  opacity: 0.5;
}

.header__profile-link:last-child {
  background-color: #2be080;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 399px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__profile-link {
    font-size: 10px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__profile-link:last-child {
    padding: 1px 12px;
    display: flex;
    align-items: center;
  }
}